:root {
  --primary-color: rgb(252, 219, 159);
  --secondary-color: rgb(248, 182, 59);
  --heading-font: font-family: "PT Mono", monospace;
}

h1,
h2 {
  font-family: var(--heading-font);
}

.hero {
  padding: 100px;
  background: var(--primary-color);
  text-align: center;
}

.hero h1 {
  font-size: 64px;
  font-weight: bold;
}

.hero p {
  font-size: 20px;
}

.btn-page {
  background: var(--secondary-color);
  border-color: black;
  border-radius: 5px;
}
