:root {
  --primary-color: rgb(252, 219, 159);
  --secondary-color: rgb(248, 182, 59);
  --padding-color: rgb(39, 39, 39);
  --heading-font-family: "Patua One", cursive;
  --default-font-family: "PT Mono", monospace;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 64px;
}

h3 {
  font-size: 40px;
}

p {
  line-height: 1.5;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--padding-color);
  transition: all 150ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--secondary-color);
}

.hero {
  padding: 80px;
  background: var(--primary-color);
  text-align: center;
}

.hero p {
  font-size: 20px;
  font-family: var(--default-font-family);
}

.btn-page {
  background: var(--secondary-color);
  border-color: black;
  border-radius: 5px;
}

.head-description {
  text-align: center;
  border: 1px solid;
  border-radius: 4px;
  padding: 10px;
  background: var(--padding-color);
  color: white;
}

.main-image-outline {
  padding: 40px;
  background: var(--padding-color);
  border-radius: 5px;
}

.main-description-outline {
  padding: 40px;
  background: var(--primary-color);
  border-radius: 5px;
}

.btn-more {
  background: var(--secondary-color);
  border-color: black;
  border-radius: 5px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background: var(--primary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  padding: 0;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--secondary-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--secondary-color);
  background: var(--primary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--secondary-color);
}

@media (max-width: 768px) {
  .main-description-outline {
    text-align: center;
  }

  .hero h1 {
    font-size: 25px;
  }

  .hero h2 {
    font-size: 15px;
  }

  .hero p {
    font-size: 14px;
  }

  p {
    font-size: 14px;
  }

  h3 {
    font-size: 30px;
  }
}
